APP_NAME="KDH Marketing Dashboard"
APP_ENV="development"
DEBUG=true
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/kdh_report"

# GOOGLE REAL DATA
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GA4_PROPERTY_ID=
GSC_PROPERTY_URL=

# META REAL DATA
META_API_VERSION=
META_ACCESS_TOKEN=
META_PAGE_ID=
META_PAGE_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=

# TIKTOK REAL DATA
TIKTOK_ACCESS_TOKEN=
TIKTOK_ADVERTISER_ID=
