{% extends "layouts/dashboard.html" %}
{% block page_script %}<script src="/static/js/pages/seo.js" defer></script>{% endblock %}
{% block page_styles %}<link rel="stylesheet" href="/static/css/pages/seo.css">{% endblock %}
{% block content %}
<div class="flex flex-col w-full" id="seo-dashboard">
  {% include "pages/seo/partials/summary.html" %}
  {% include "pages/seo/partials/kpis.html" %}
  {% include "pages/seo/partials/trend.html" %}
  {% include "pages/seo/partials/funnel.html" %}
  {% include "pages/seo/partials/keywords.html" %}
  {% include "pages/seo/partials/details.html" %}
  {% include "pages/seo/partials/result.html" %}
</div>
{% include "pages/seo/controls.html" %}
{% endblock %}
{% block scripts %}<script id="seo-data" type="application/json">{{ seo | tojson }}</script>{% endblock %}
